/*
+-------------------------------------------------------+
| Rajarshi Das						                    |
+-------------------------------------------------------+
| Created On: 22-Dec-2022				                |
| Updated On: 19-Dec-2025                               |
+-------------------------------------------------------+
*/
@import url("/matchbox/themes/cool/normalize.css");
@import url("/matchbox/themes/cool/fonts-and-ui.css");

input,
select,
textarea {
    box-sizing: border-box;
    color: var(--rd-dark-gray);
    padding: 4px;
    margin: 2px;
    width: 100%;
}

select {
    font-size: 0.9rem;
}

input::placeholder {
    color: gray;
    font-size: 0.9rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--rd-color-primary);
}

.rd-footer {
    text-align: center;
    padding: 10px;
    /* background-color: var(--rd-nav-light); */
    color: white;
}

.rd-statusbar {
    text-align: center;
    max-width: var(--rd-max-width);
    color: var(--rd-dark-gray);
    font-size: var(--rd-table-font-size);
    padding: 25px 0px;
}

.rd-footnote {
    text-align: left;
    font-size: 0.85em;
    color: var(--rd-light-gray);
    padding: 8px 4px;
}

.rd-box {
    text-align: center;
    padding: 10px;
}

.rd-text-bold {
    font-family: "Roboto Bold";
    color: var(--rd-dark-gray);
}

.rd-mailto {
    color: white;
    /* text-decoration: none; */
}

.contentbox {
    padding: 15px;
}

table.rd-table {
    font-size: var(--rd-table-font-size);
    width: 100%;
    margin: auto;
    max-width: var(--rd-max-width);
    /*border-collapse: collapse; Sticky border dissapears */
    border-spacing: 0px;
    border-top: 1px solid var(--rd-border-light);
    border-left: 1px solid var(--rd-border-light);
}

table.rd-table thead {
    background-color: var(--rd-form-bg);
    position: sticky;
    top: 0;
    text-align: center;
}

table.rd-table thead tr td {
    height: 18px;
}

table.rd-table tr td {
    color: var(--rd-dark-gray);
    border-right: 1px solid var(--rd-border-light);
    border-bottom: 1px solid var(--rd-border-light);
    padding: 5px;
    height: 25px;
    text-align: center;
}

table.rd-table tbody tr:hover {
    background-color: var(--rd-home-box1);
}


/* Dialog Box */
dialog {
    padding: 0px;
    border: 0px solid var(--rd-nav-dark);
    border-radius: 5px;
}

dialog::backdrop {
    background: rgba(25, 25, 25, 0.5);
}

table.dxTable {
    border-spacing: 0px;
}


td.hotKey:hover {
    cursor: pointer;
    background-color: cadetblue;
    color: white;
}


table.dxTable thead {
    font-family: 'Roboto Bold';
    background-color: var(--rd-nav-dark);
    color: white;
    height: 40px;
}

table.dxTable tfoot {
    text-align: center;
    height: 40px;
}

table.dxTable tr td {
    border: 0px solid gray;
    height: 22px;
    padding: 5px;
}

table.dxTable tbody tr td:first-child {
    text-align: right;
}

/* Navtabs */
div#navtab {
    font-family: 'Roboto Bold';
    width: 100%;
    max-width: var(--rd-max-width);
    margin: auto;
    background-color: var(--rd-nav-light);
}

#tabs {
    /*
    float: right;
    width: calc(100% - 15px);
    */
    font-size: 1.06em;
    margin: 0;
    padding: 0;
    background-color: var(--rd-nav-light);
}

#tabs ul {
    margin: 0;
    padding: 0;
    list-style: none
}

#tabs li {
    display: inline;
    margin: 0;
    padding: 0;
}

#tabs a {
    text-align: center;
    float: left;
    background: transparent no-repeat left top;
    margin: 0;
    text-decoration: none;
    /*---------------------------------------------------------*/
    /* Change the following width to change the width of tabs  */
    /*---------------------------------------------------------*/
    width: 160px;
    /*---------------------------------------------------------*/
    line-height: 35px;
}

#tabs a span {
    float: left;
    display: block;
    padding: 0;
    color: #ffffff
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {
    float: none
}

/* End IE5-Mac hack */

#tabs a:hover {
    background: var(--rd-nav-dark);
}

#tabs a:hover span {
    background: var(--rd-nav-dark);
}

#tabs a.activeTab {
    background: var(--rd-nav-dark);
}

#tabs a.activeTab span {
    background: var(--rd-nav-dark);
}

#nav {
    font-family: 'Roboto Bold';
    font-size: 0.95em;
    line-height: 35px;
    background: var(--rd-nav-dark);
    text-align: center;
    color: white;
}

#nav a {
    text-align: right;
    color: white;
    margin: 0;
    padding: 0 30px;
    text-decoration: none;
}

#nav a:hover {
    color: var(--rd-nav-active);
}

#nav .activeTab {
    color: var(--rd-nav-active);
}

#navbox,
.navbox {
    line-height: 50px;
    color: white;
    background-color: cadetblue;
    text-align: center;
    font-family: 'Roboto Bold';
}

.alert {
    background-color: var(--rd-light-gray);
    color: white;
    font-family: "Roboto Bold";
    /* font-size: 1.2em; */
    text-align: center;
    padding: 25px;
}

.highlight {
    background-color: var(--rd-home-box1);
}

table.rd-table-fx {
    width: 100%;
}

table.rd-table-fx tr td {
    border: 0px;
}

.rd-banner-sticky {
    position: sticky;
    top: 0px;
    background-color: var(--rd-nav-dark);
    z-index: 100;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto Bold';
    color: white;
}