/*
+-------------------------------------------------------+
| Rajarshi Das						                    |
+-------------------------------------------------------+
| Created On: 22-Dec-2022				                |
| Updated On: 18-Jul-2025                               |
+-------------------------------------------------------+
*/

:root {
    --rd-login-background: #1a477c;
    --rd-home-box1: #dce9ed;
    --rd-home-box2: #c1d4db;
    --rd-nav-dark: #1a477c;
    --rd-nav-light: #123256;
    --rd-form-background: #E8E9FF;
    --rd-nav-active: cyan;
    --rd-hover: #fecd61;
    --rd-box-border-color: rgb(80, 80, 80);
    /* Text color */
    --rd-dark-gray: rgb(32, 32, 32);
    /* UI Elements */
    --rd-color-primary: #123256;
    --rd-color-button: #0A66C2;
}

/* Style */
body {
    font-size: 1em;
    font-family: "Segoe UI", "Roboto", "Arial";
    font-weight: normal;
    color: white;
    background-color: var(--rd-login-background);
    padding: 0px;
    margin: auto;
    max-width: 1400px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--rd-color-primary);
}

.rd-banner {
    text-align: center;
}

h1.tagline {
    font-size: 1.4em;
    font-weight: normal;
    padding: 10px;
}

.rd-footer {
    text-align: center;
    padding: 10px;
    /* background-color: var(--rd-nav-light); */
    color: white;
}

.fa5button {
    opacity: 0.7;
    height: 25px;
}

.fa5button:hover {
    cursor: pointer;
    opacity: 0.4;
}

.rd-text-bold {
    font-family: "Roboto Bold";
    color: var(--rd-dark-gray);
}

.rd-mailto {
    color: white;
    /* text-decoration: none; */
}

.contentbox {
    padding: 15px;
}

/* CSS */
a.button-18 {
    text-decoration: none;
}

.button-18 {
    align-items: center;
    background-color: var(--rd-color-button);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    /* font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif; */
    /* font-size: 16px; */
    font-family: 'Roboto Bold';
    /* font-weight: 600; */
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
    background-color: #16437E;
    color: #ffffff;
}

.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

td.hotKey:hover {
    cursor: pointer;
    background-color: cadetblue;
    color: white;
}
