/*
+-------------------------------------------------------+
| Rajarshi Das                                          |
+-------------------------------------------------------+
| Created: 05-Feb-2012                                  |
| Updated:                                              |
+-------------------------------------------------------+
*/
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .4em; }
.validateTips { border: 1px solid transparent; padding: 0; }
.manageTable {  padding: 2px; }
.manageTable img:hover { cursor: pointer; border: 2px solid black; }
